.guide-organisations-output-goal-container{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;

    p{
        margin-right: 10px;
    }

    input{
        border: 1px solid lightgray;
        max-width: 60%;
    }
}

#guide-organisations-output-goal-title{
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#guide-organisations-output-goal-add{
    cursor: pointer;
}

#package-output-goal-container{
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    width: 80%;
}

#package-output-goal-outer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}