.adminpaneldata-table-item-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
}

.adminpaneldata-table-item-container p{
    margin: 0px;
}