.effect-selector-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#meetstandaard-efeect-questions-item-container{
    display: flex;
    align-items: center;
}